html, body {
	background: linear-gradient(#D7D7D7,#F2F2F2);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #F2F2F2;
	/*background-color: #EBEBEB;*/
	font-family: 'Inconsolata', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
}

/*SPACING*/

.mt-0 {
	margin-top: 0;
}

.mt-20 {
	margin-top: 20px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-60 {
	margin-top: 60px;
}

.pl-35 {
	padding-left: 35px;
}

.pr-10 {
	padding-right: 10px;
}

.plr-15 {
	padding: 0 15px 0 15px;
}

.nudge {
	margin-left: -15px;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
}

/*ALIGNMENT*/

.center {
	text-align: center;
}

.left {
	text-align: left;
}

/*NAV*/

.header {
	display: block;
	margin-top: 80px;
	margin-bottom: 60px;
}

.header-img {
	width: 200px;
}

nav.bottom {
	margin: 60px 0 40px 0;
}

/*LINKS*/

a {
	color: blue;
	text-decoration: none;
}

a:hover, a:focus {
	color: purple;
	text-decoration: none;
}

a.plain, a.plain:hover, .plain {
	color: inherit;
	text-decoration: underline;
}

a.plainer, a.plainer:hover, .plainer {
	color: inherit;
}

/*HEADINGS & ELEMENTS*/

h1 {
	font-size: 1.25em;
	letter-spacing: 0.02em;
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
}

h2 {
	font-size:1.25em;
	letter-spacing: 0.02em;
}

.uppercase {
	text-transform: uppercase;
}

.italic {
	font-style: italic;
}

h3 {
	font-size: 1.10em;
	letter-spacing: 0.02em;
	font-style: italic;
}

h3.sub-head {
	margin-top: 0;
	margin-bottom:30px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0 0 10px 0;
}

.row {
	margin-left: 8px;
}

hr {
	width: 90%;
	height: 1px;
    border: 0;
    border-top: 1px solid #a9a9a9;
}

figcaption {
	font-size: 0.85em;
	margin: 10px 5px 5px 0px;
}

/*POEM HELPERS*/

.poem-original, .poem-generate {
	float: left;
	/*width: 40%;*/
	height: auto;
	margin: 15px 30px 15px 0 !important;
	padding: 0;
	
}
.poem-original-bd {
	border: 1px solid blue;
	padding: 15px;
}

.poem-generate-bd {
	border: 1px solid purple;
	padding: 15px;
}

/*TABLE*/

table.menu {
	border: 0;
	width: 100%;
}

/*IFRAME*/

.iframe-container {
	margin: 30px 0 30px 0;
}

.iframe-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width:  95%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

	/*@media (max-width: 767px) {

		iframe {
			height: 309px;
			width: 550px;
		}

	}

	@media (min-width: 768px) and (max-width: 991px) {

		iframe {
			height: 413px;
			width: 735px;
		}

	}

	@media (min-width: 992px) and (max-width: 1199px) {

		iframe {
			width: 980px;
			height: 551px;
		}
		
	}

	@media (min-width: 1200px) {

		iframe {
			width: 980px;
			height: 551px;
		}

	}*/

/*IMAGE SIZES*/

.icon {
	height: 75px;
	display: inline-block;
	margin: 0 0 0 10px;
}

.img-container, .img-container-single {
	margin: 0 0 0 -15px;
}

.img-container {
	padding: 15px 0 15px 0;
}

.img-container-single {
	padding: 0;
}

.img-wrapper-xs,
.img-wrapper-sm, 
.img-wrapper, 
.img-wrapper-lg, 
.img-wrapper-xl {
	padding: 15px;
	display: inline-block;
}

.img-wrapper-xs {
	height: 350px;
}

.img-wrapper-sm {
	height: 450px;
}

.img-wrapper {
	height: 550px;
}

.img-wrapper-lg {
	height: 650px;
}

.img-wrapper-xl {
	height: 800px;
}

	@media (max-width: 767px) { 

		.img-wrapper-xs, 
		.img-wrapper-sm, 
		.img-wrapper, 
		.img-wrapper-lg, 
		.img-wrapper-xl {
	  		max-width: 600px;
	  		height: auto;
			padding: 15px;
			display: inline-block;
		}

	 }

	/*IMAGE SIZING BREAKS AT SM QUERIES WHEN NOT IN CONTAINTER FLUID*/
	@media (min-width: 768px) and (max-width: 991px) { 

		.img-wrapper-sm.too-long {
			max-width: 786px;
		}

		.img-self.too-long {
			height: auto;
			width: 100%;
		}

	}

.img-self {
	height: 100%;
	width: auto;
}

	@media (max-width: 768px) { 

		.img-self {
			height: auto;
			width: 100%;
		}
	 }