html, body {
	background: linear-gradient(#E1E1E1,#F2F2F2);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #F2F2F2;
	/*background-color: #EBEBEB;*/
	font-family: 'Inconsolata', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
}

.mt-60 {
	margin-top:60px;
}

.mt-0 {
	margin-top: 0;
}

.top {
	margin-top:160px;
}

.nudge {
	margin-left:-15px;
}

nav.bottom {
	margin: 20px 0 40px 0;
}

nav.header {
	position: fixed;
	display:block;
}

a {
	color:blue;
	text-decoration: none;
}

a:hover, a:focus {
	color:purple;
	text-decoration: none;
}

a.plain, a.plain:hover {
	color:inherit;
	text-decoration: underline;
}

h1 {
	font-size: 1.25em;
	letter-spacing: 0.02em;
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
}

h2 {
	/*color: #7F462C;*/
	font-size:1.25em;
	letter-spacing: 0.02em;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0 10px 0;
}

.main {
	margin-left: 8px;
}

/*IMAGE CLASSES*/

img {
	z-index: 100;
}

.header-img {
	width:200px;
	z-index: 1;
}

.icon {
	height: 75px;
	display: inline-block;
	margin: 0 0 0 10px;
}

.small {
	display:block;
	max-width:250px;
	width:100%;
	height:auto;
	margin:30px 0 10px 0;
}

.small-250w {
	display:inline-block;
	max-width:250px;
	width:100%;
	height:auto;
	margin:30px 0 10px 0;
}

.small-500w {
	display:inline-block;
	max-width:500px;
	width:100%;
	height:auto;
	margin:30px 0 10px 0;
}

.medium {
	display: inline-block;
	max-height: 500px;
	height:100%;
	width:auto;
	margin: 10px 10px 10px 0;
}

.img-container {
	margin: 0 0 0 -15px;
	padding: 15px 0 15px 0;
}

.img-wrapper {
	height: 550px;
	padding: 15px;
	display:inline-block;
}

@media (max-width: 768px) { 

	.img-wrapper {
  		max-width: 600px;
  		height: auto;
		padding: 15px;
		display: inline-block;
	}
 }

.img-self {
	height:100%;
	width:auto;
}

@media (max-width: 768px) { 

	.img-self {
		height:auto;
		width:100%;
	}
 }